body {
  margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: #cb997e;
  box-shadow: 10px 8px 16px 10px rgba(0, 0, 0, 0.2);
}

.bar {
  float: left;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 17px;
  text-decoration: none;
}

#navbar-icon {
  float: left;
  display: block;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.dropdown {
  float: left;
  text-align: center;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 17px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #A5A58D;
  color: #FFE8D6;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #cb997e;
  min-width: 160px;
  box-shadow: 10px 8px 16px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.dropdown-content a:hover {
  background-color: #9b9b7a;
}

.dropdown:hover .dropdown-content {
  display: block;
}
