.topnav {
  overflow: hidden;
  background-color: #cb997e;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 16px;
  text-decoration: none;
}


.dropdown {
  float: left;
  text-align: center;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #b7b7a4;
  color: white;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #cb997e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #9b9b7a;
}

.dropdown:hover .dropdown-content {
  display: block;
}
